<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wu.gw.mybatis.mapper.CountryCurrencyPairMapper" >
  <resultMap id="BaseResultMap" type="com.wu.gw.mybatis.model.CountryCurrencyPair" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="list_id" property="listId" jdbcType="INTEGER" />
    <result column="country_code" property="countryCode" jdbcType="CHAR" />
    <result column="country_name" property="countryName" jdbcType="VARCHAR" />
    <result column="currency_code" property="currencyCode" jdbcType="CHAR" />
    <result column="currency_name" property="currencyName" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <select id="getCountryCurrencyPairById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select *
    from das_countrycurrency_pair
    where id = #{id} and del_flag = 0
  </select>
  
  <select id="getCountryCurrencyPairByKeys" resultMap="BaseResultMap" parameterType="com.wu.gw.mybatis.model.CountryCurrencyPair" >
    select *
    from das_countrycurrency_pair
    where list_id = #{listId} and country_code = #{countryCode} and currency_code = #{currencyCode}
  </select>
  
  <insert id="addCountryCurrencyPair" parameterType="com.wu.gw.mybatis.model.CountryCurrencyPair" >
    insert into das_countrycurrency_pair (list_id, country_code, country_name, currency_code, currency_name, update_time)
    values (#{listId}, #{countryCode}, #{countryName}, #{currencyCode}, #{currencyName}, #{updateTime})
  </insert>

  <update id="updateCountryCurrencyPair" parameterType="com.wu.gw.mybatis.model.CountryCurrencyPair" >
    update das_countrycurrency_pair
    set update_time = #{updateTime}, del_flag = #{delFlag}
    where id = #{id}
  </update>
</mapper>